html {box-sizing: border-box;}
*,*:before,*:after {box-sizing: inherit;}
tr.border_top td {border-top:1pt solid #999;}
table { 
    border-collapse: collapse; 
    font-family: 'Source Code Pro', monospace;
}
h2 {font-family: 'Oswald', sans-serif;}
div.content { 
    width: 725px;
    margin: 0 auto;
    padding: 6px;
}
a.hidden:link {/* uwu what's this? */
    text-decoration: none;
    color: black;
}
a.hidden:visited {
    color: red;
}
p {font-family: 'Source Code Pro', monospace}
.tooltip {
  position: relative;
  inline-size: max-content;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  margin-left: 1px;

  /* Position the tooltip */
  position: absolute;
  left: 0%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
td {
  max-width: 100px;
  overflow: hidden;
}